<!-- main app container -->
<div class="outer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
              
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" #log="ngForm">
                    <div class="form-group">
                        <label><h3>Edit SKill</h3></label>
                        <fieldset>
                        <textarea rows="4" cols="50" placeholder="Enter your skills...."></textarea>
                        </fieldset>
                    </div>
                  
                          
                




                    <div class="form-group">
                        <button class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




