
 <div class="topnav" id="myTopnav"> 
 
    <a routerLink=" " class="active">Logout</a>
    <a routerLink=" " >Notifications</a>
</div>
<div class="outer">
 
                     
         <br><br>
              
              
                 
                          
                          <button type="button" class="s" ><a  routerLink="/trainercompleted">Completed Training</a></button>
                          
                          <button type="button" class="s" ><a  routerLink="/trainercurrent">Current Training</a></button>
                  
                  <button type="button" class="s" ><a  routerLink="/editskill">Edit skills</a></button>
                  <button type="button" class="s" ><a  routerLink="/payment">Payments</a></button>
                  
       
  
  
  </div>