<table>
    <tr>
    <td>User 1</td><td><input type="button" value="BLOCK" onclick="return change(this);" /></td>
    
    <tr>
    <td>User 2 </td>
    <td><input type="button" value="BLOCK" onclick="return change(this);" /></td>
    
    </tr><tr>
    <td>User 3</td><td><input type="button" value="BLOCK" onclick="return change(this);" /></td>
    
    <tr>
    <td>User 4</td><td><input type="button" value="BLOCK" onclick="return change(this);" /></td>
    
    </tr>
    <tr>
    <td>User 5</td><td><input type="button" value="BLOCK" onclick="return change(this);" /></td>
    
    </table>
