<div class="outer">
<button type="button" class="s" ><a  routerLink="/transactionhistory"> View Transaction History</a></button>
<div class="container" >
    
    <div class="row" >
        <div class="col-xs-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Cash Withdraw
                    </h3>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" />
                            Remember
                        </label>
                    </div>
                </div>
                <div class="panel-body">
                    <form role="form" >
                    <div class="form-group">
                        <label for="cardNumber">
                            ACCOUNT NUMBER</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid Account Number"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                                <label for="expityMonth" style="margin-left:15px;">
                                        Amount</label>
                            <input type="text" style="margin-left:15px;width:250px;" class="form-control" id="cardNumber" placeholder="Amount">
                            
                   
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                                <label for="expityMonth">
                                    PASSWORD</label>
                                <div class="input-group">
                            <input type="text" class="form-control" id="cardNumber" placeholder="Valid password"
                                required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            </div>
                            
                        </div>
                        </div>
                        
                    </div>
                    </form>
                   
                </div>
                <a href="" class="btn btn-success btn-lg btn-block" role="button">Withdraw</a>
            </div>
        
           
        </div>
   </div> 
