<table>
    <th align="left">Course</th>
 <th align="left">Completion Date</th>
 <th align="left">Trainer Name</th>
    <tr>
  <td >Java
         <td >25th June</td>
         <td>Trainer 1</td>
  </tr>
  <tr>
      <td>Big Data</td>
      <td>30th June</td>
      <td>Trainer 2</td>
  </tr>
  <tr><td>Python</td>
<td>5th July</td>
<td>Trainer 3</td></tr>
<tr><td>Bootstrap</td>
 <td>15th July</td>
<td>Trainer 4</td></tr>
<tr><td>IOT</td>
 <td>25th July</td>
<td>Trainer 5</td></tr>
<tr><td>Data Mining</td>
 <td>5th August</td>
<td>Trainer 6</td></tr>
  
</table>
