<div class="outer">
    <div class="topnav" id="myTopnav">
    <input type="search" placeholder="course name.....">
    <button class="srch" type="submit"><i class="fa fa-search"></i></button>
     <a href="index.html" class="active">Logout</a>
     <a href="" >Notifications</a>
     
</div>
   <div class="container">
                      
          
               
               <br>
                  
                           
               <button type="button" class="s" ><a  routerLink="/search">Search</a></button>
                          
                                   <button type="button" class="s" ><a  routerLink="/userprogress">Current Training</a></button>
                           
                           <button type="button" class="s" ><a  routerLink="/usercompleted">Completed Training</a></button>
                     
                   
               
          
   
   </div>
</div>